Target Encoding

In [1]:
#import libraries
import pandas as pd
import numpy as np
from category_encoders import TargetEncoder

#creating dataframe with categoriccal features and target
Animal = ['cat', 'hamster', 'cat', 'cat', 'dog', 'hamster', 'cat', 'dog', 'cat', 'dog']
target =  [1, 0, 0, 1, 1, 1, 0, 1, 0, 0]
data = list(zip(Animal, target))
df = pd.DataFrame(data,
                columns=['Animal', 'Target'])

#encode
encoder = TargetEncoder()
df['Animal Encoded'] = encoder.fit_transform(df['Animal'], df['Target'])

df.head(10)

    Animal  Target  Animal Encoded
0      cat       1        0.401799
1  hamster       0        0.500000
2      cat       0        0.401799
3      cat       1        0.401799
4      dog       1        0.646800
5  hamster       1        0.500000
6      cat       0        0.401799
7      dog       1        0.646800
8      cat       0        0.401799
9      dog       0        0.646800

One Hot Encoding

In [2]:
#creating dataframe with categoriccal features and target
import pandas as pd
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder 

#Creating df
Animal = ['cat', 'hamster', 'cat', 'cat', 'dog', 'hamster', 'cat', 'dog', 'cat', 'dog']
target =  [1, 0, 0, 1, 1, 1, 0, 1, 0, 0]
data = list(zip(Animal, target))
df = pd.DataFrame(data,
                columns=['Animal', 'Target'])

#label encoding
le = LabelEncoder()
df['Animal Encoded'] = le.fit_transform(df.Animal)

#onehotencoding
encoder = OneHotEncoder(categories = 'auto')
X = encoder.fit_transform(
    df['Animal Encoded'].values.reshape(-1,1)).toarray()
dfonehot = pd.DataFrame(X)
df = pd.concat([df, dfonehot], axis =1)
df.columns = ['Animal','Target','Animal Encoded',
                     'isCat','isDog','isHamster']

df.head(10)

    Animal  Target  Animal Encoded  isCat  isDog  isHamster
0      cat       1               0    1.0    0.0        0.0
1  hamster       0               2    0.0    0.0        1.0
2      cat       0               0    1.0    0.0        0.0
3      cat       1               0    1.0    0.0        0.0
4      dog       1               1    0.0    1.0        0.0
5  hamster       1               2    0.0    0.0        1.0
6      cat       0               0    1.0    0.0        0.0
7      dog       1               1    0.0    1.0        0.0
8      cat       0               0    1.0    0.0        0.0
9      dog       0               1    0.0    1.0        0.0